main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  article p {
    font-size: 11px;
    margin: auto;
    display: inline-block;
    margin-bottom: .5rem;
  }
  article  img:last-of-type {
    cursor: pointer;
  }
  article img:last-of-type:hover {
    color: rgb(0, 0, 0);
  }
  article .article-button {
    margin: .2rem .1vw;
  }